.page-home {

  section {

    h1.section-title {
      font-size: 2.625rem;
      font-family: $title-font;
    }

    h2.section-title {
      font-size: 2.25rem;
      font-family: $title-font;
    }

    h3.section-title {
      font-size: 1.875rem;
      font-family: $title-font;
    }

    .section-title {
      color: #222222;
    }

    .text {
      color: #777777;
    }
  }

  .section-hero {
    padding: 14rem 0;

      .section-title {
        text-transform: uppercase;
        margin-bottom: 1.25rem;
      }

      .text {
        font-size: 1rem;
        margin-bottom: 1.75rem;
      }

      button {
        font-size: 0.75rem;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: unset;
        padding: 0.75rem 1.5rem;
      }
  }

  .section-features {
    background-color: #ffffff;
    padding: 6.5rem 0;

    .section-title {
      text-transform: capitalize;
      text-align: right;
      margin-bottom: 1rem;
    }

    .text {
      font-size: 1rem;
      text-align: right;
      margin-bottom: 0;
    }

    .feature {
      display: flex;
      flex-direction: row;
      background-color: #ebf7fe;
      border-radius: 0.75rem;
      padding: 1.25rem;

      &:not(:last-child) {
        margin-bottom: 1.875rem;
      }

      .feature-icon {
        width: 4.75rem;
        height: 4.75rem;
        background-color: #ffffff;
        border-radius: 0.75rem;
        padding: 1rem;
        margin-right: 1.25rem;
      }

      .feature-title {
        color: #222222;
        font-size: 1.125rem;
        font-family: $title-font;
      }

      .feature-text {
        color: #777777;
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
  }

  .section-services {
    background-color: #ffffff;
    padding: 6.5rem 0;

    .section-header {
      margin-bottom: 3.25rem;

      .section-title {
        text-transform: capitalize;
        margin-bottom: 1rem;
      }
    }

    .service {
      display: flex;
      flex-direction: row;

      &:not(:last-child) {
        margin-bottom: 2.75rem;
      }

      figure {
        background-color: #ffffff;
        border-radius: 50%;
        box-shadow: 0 0.5rem 1rem 0 rgba(71, 71, 71, 0.2);
        padding: 1.5rem;
        margin-right: 1.25rem;
        margin-bottom: 0;

        img {
          width: 2rem;
          height: auto;
        }
      }

      .service-name {
        color: #222222;
        font-size: 1.25rem;
        font-family: $title-font;
      }

      .service-text {
        color: #777777;
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
  }

  .section-mission {
    background-color: #ebf7fe;
    padding: 6.5rem 0;

    .section-title {
      color: #222222;
      font-size: 1.25rem;
      font-family: $title-font;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .text {
      color: #777777;
      margin-bottom: 0;
    }
  }

  .section-tutorial {
    background-color: #ffffff;
    padding: 6.5rem 0;

    .section-title {
      text-align: center;
      margin-bottom: 3.25rem;
    }

    .step {
      text-align: center;
      padding: 1.25rem;

      .icon {
        width: 10rem;
        height: auto;
        margin-bottom: 0.5rem;
      }

      .title {
        color: #222222;
        font-size: 1.25rem;
        text-transform: capitalize;
        margin-bottom: 1rem;

        strong {
          color: #2E406F;
        }
      }

      .text {
        color: #777777;
        margin-bottom: 0;
      }
    }
  }

  .section-contact {
    padding: 6.5rem 0;

    .call-to-action {
      position: relative;
      background-image: url('../images/handshake.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      padding: 10rem 5rem;

      &::before {
        content: '';
        background-color: rgba(#000000, 0.25);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .section-title {
        position: relative;
        color: #ffffff;
        margin-bottom: 2rem;
        z-index: 10;
      }

      .text {
        position: relative;
        color: #ffffff;
        z-index: 10;
      }
    }

    .form-group {

      .form-control {
        height: calc(3rem + 2px);
        border-radius: unset;
        padding: 0.625rem 0.75rem;
      }

      textarea.form-control {
        height: auto;
      }
    }

    button {
      font-weight: 700;
      text-transform: uppercase;
      border-radius: unset;
      padding: 0.75rem 1.5rem;
    }
  }
}
