.page-home {

  section {

    h1.section-title {
      font-size: 2.625rem;
      font-family: $title-font;
    }

    h2.section-title {
      font-size: 2.25rem;
      font-family: $title-font;
    }

    h3.section-title {
      font-size: 1.875rem;
      font-family: $title-font;
    }

    .section-title {
      color: #222222;
    }

    .text {
      color: #777777;
    }
  }

  .section-hero {
    padding: 10rem 0 5rem;

    .section-title {
      text-transform: uppercase;
      margin-bottom: 1.25rem;
    }

    .text {
      font-size: 1rem;
      margin-bottom: 1.75rem;
    }

    button {
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: unset;
      padding: 0.75rem 1.5rem;
    }
  }

  .section-features {
    background-color: #ffffff;
    padding: 5rem 0;

    .section-title {
      text-align: right;
      margin-bottom: 1rem;
    }

    .text {
      font-size: 1rem;
      text-align: right;
      margin-bottom: 0;
    }

    .feature {
      display: flex;
      flex-direction: row;
      background-color: #e9f5ff;
      border-radius: 0.75rem;
      padding: 1.25rem;

      &:not(:last-child) {
        margin-bottom: 1.875rem;
      }

      .feature-icon {
        width: 4.75rem;
        height: 4.75rem;
        background-color: #ffffff;
        border-radius: 0.75rem;
        padding: 1rem;
        margin-right: 1.25rem;
      }

      .feature-title {
        color: #222222;
        font-size: 1.125rem;
        font-family: $title-font;
      }

      .feature-text {
        color: #777777;
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
  }

  .section-services {
    background-color: #ffffff;
    padding: 5rem 0;

    .section-header {
      margin-bottom: 3.25rem;

      .section-title {
        margin-bottom: 1rem;
      }

      .text {
        margin-bottom: 0;
      }
    }

    .service {
      display: flex;
      flex-direction: row;

      &:not(:last-child) {
        margin-bottom: 2.75rem;
      }

      figure {
        background-color: #ffffff;
        border-radius: 50%;
        box-shadow: 0 0.5rem 1rem 0 rgba(71, 71, 71, 0.2);
        padding: 1.25rem;
        margin-right: 1.25rem;
        margin-bottom: 0;

        img {
          width: 2.5rem;
          height: auto;
        }
      }

      .service-name {
        color: #222222;
        font-size: 1.25rem;
        font-family: $title-font;
      }

      .service-text {
        color: #777777;
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
  }

  .section-mission {
    background-color: #e9f5ff;
    padding: 5rem 0;

    .section-title {
      color: #222222;
      font-size: 1.25rem;
      font-family: $title-font;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .text {
      color: #777777;
      margin-bottom: 0;
    }
  }

  .section-tutorial {
    background-color: #ffffff;
    padding: 5rem 0 3.75rem;

    .section-title {
      text-align: center;
      margin-bottom: 3.25rem;
    }

    .step {
      text-align: center;
      padding: 1.25rem;

      .icon {
        width: 10rem;
        height: auto;
        margin-bottom: 0.5rem;
      }

      .title {
        font-size: 1.25rem;
        text-transform: capitalize;
        margin-bottom: 1rem;

        strong {
          color: #0b75b9;
        }
      }

      .text {
        margin-bottom: 0;
      }
    }
  }

  .section-contact {
    background-color: #ffffff;
    padding: 5rem 0;

    .section-title {
      margin-bottom: 1rem;
    }

    .text {
      margin-bottom: 3rem;
    }

    .thumbnail {
      width: 100%;
      height: auto;
    }

    .form-group {

      .form-control {
        height: calc(3rem + 2px);
        border-radius: unset;
        padding: 0.625rem 0.75rem;

        &:focus {
          border-color: #1ea0f2;
          box-shadow: unset;
        }
      }

      textarea.form-control {
        height: auto;
      }
    }

    button {
      font-weight: 700;
      text-transform: uppercase;
      border-radius: unset;
      padding: 0.75rem 1.5rem;
    }
  }
}
